.modal-content {
  background: white;
  width: 300px;
  margin: 18% auto;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.modal-actions {
  display: flex;
  gap: 8px;
  margin-top: 15px;
}
.gray {
  background: #ccc;
}
.red {
  background: #e53935;
  color: white;
}
.blue {
  background: #0d8fa8;
  color: white;
}
#todoList {
  list-style: none;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
}
/* Scrollbar - Chrome / Edge */
#todoList::-webkit-scrollbar {
  width: 3px; /* رفيع */
}
#todoList::-webkit-scrollbar-thumb {
  background-color: #0d8fa8; 
  border-radius: 10px;
}
#todoList::-webkit-scrollbar-track {
  background: #d1c7c7;
}