.modal-content {
  background: white;
  width: 300px;
  margin: 15% auto;
  padding: 20px;
  text-align: center;
  border-radius: 6px;
}

.modal-actions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}